.flex-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.container{
  width: 20%;
  height: 60vh;
margin: 20px;
  display: flex;
  flex-direction: column;
  padding: 0px;
text-align: center;
}
img{
  display: block;
  height:70%;

}
